<div class="info w-100">
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>5000</td>
            </tr>
            <tr>
                <td><a href='@Url.Action("Index","Payment")' class="btn btn-outline-info pay">Pay</a></td>
            </tr>
        </tbody>
    </table>
</div>